# ignore scratch work sandbox
doc/notes/
# ignore yaml files containing api keys
*.yml
# ignore json files containing raw data
*.json
# ignore rds files containing raw data
*.rds
# ignore pdf files 
*.pdf
.Rproj.user
.httr-oauth
.Rhistory
